@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");
html,
body,
* {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  height: 100%;
  text-align: center;
}

body {
  padding: 2rem;
  background: #f8f8f8;
}

section{
  display: grid;
}

h1 {
    font-family:"Roboto", sans-serif;
    font-size: 36px;
    line-height: 2;
    color: #454cad;
    margin-bottom: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #454cad;
  margin-bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #5f6982;
}

.gen2{
  font-size: 16px;
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.uploaderlabel {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  user-select: none;
}
.uploader label:hover {
  border-color: #454cad;
}
.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type=file] {
  display: none;
}
.uploader div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: 2rem 2rem 2rem 2rem;
  clear: both;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 12rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #454cad;
  border-color: #454cad;
  cursor: pointer;
}

.selectdrag{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
}

.messages{
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1;
  margin-bottom: 0;
}

.loadspace{
  display: block;
  font-size:24px;
  font-family: "Roboto", sans-serif;
  color: #5f6982;
}

.hide{
  display: none;
}

.unhide{
  display:block
}

.genlabel{
  font-family:"Roboto", sans-serif;
  font-size: 18px;
  line-height: 2;
  color: black;
  margin-bottom: 0;
  text-align:left;
}

.uploader #gender-select {
  font-family:"Roboto", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: black;
  margin-bottom: 0;
  text-align:left;
}

.container_output #reportbox {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  font-family:"Roboto", sans-serif;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  height: 500px;
  overflow: auto;
  padding: 2px;
  resize: none;
  width: auto;
  background: #fff;
  border-radius: 7px;
  border: 0px solid #eee;
  transition: all 0.2s ease;
  user-select: none;
}

.container_output span {
  font-family:"Roboto", sans-serif;
  font-size: 18px;
  text-align: left;
}

.flex-container{
  display: flex;
}

.flex-childl{
  border-radius: 7px;
  border: 2px solid #eee;
  flex-shrink:1;
  visibility:visible;
  display: flex;
  width:40%;
  max-width: 800px;
  height: 500px;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-align-content: flex-end;
  background-color:#fff;
  flex-shrink:0;
  -webkit-flex-shrink:0;
  position:relative;
  z-index: 0;
  transition: all 0.5s;
  display:flex;
  flex-direction: column;

}

.flex-childr{
  flex:1;
  border-radius: 7px;
  border: 2px solid #eee;
  flex-shrink:1;
  visibility:visible;
  display: flex;
  width:70%;
  max-width: auto;
  height: 500px;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-align-content: flex-end;
}

.slider{
  width: 100%;
  max-width: auto;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 0 px;
}

/*--CAROUSEL ITEEM--*/
.slidem, .slideg {
  visibility:visible;
  display: flex;
  width:100%;
  max-width: auto;
  height: 500px;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-align-content: flex-end;
  position: relative;
  background-color:#fff;
  flex-shrink:0;
  -webkit-flex-shrink:0;
  position: absolute;
  z-index: 0;
  transition: all 0.5s;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  -webkit-justify-content:left;
  -webkit-flex-direction: column;
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 20px;
  width:80%;
  font-size: 16px;
  font-family:"Roboto", sans-serif;
}

.slidem img{
  width: 10%;
  height: 100%;
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;
  -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

.slideg img{
  width: 10%;
  height: 100%;
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;
  -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

.bth {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: lightgray;
  font-size: 18px;
  opacity: 0.5;
}

.bth:active {
  transform: scale(1.1);
}

.bth-prev {
  top: 80%;
  left: 2%;
}

.bth-next {
  top: 80%;
  right: 2%;
}

footer {
  height:50px
}

.slide-Showing {
  display:block
}

.slide-Hidden {
  display:none
}